/* 

Possible colors:
#960000
#005896
#A5A3A5
#000000

*/
@font-face {
    font-family: "mumbai";
    src: url(../images/TheMumbaiStickerDemo-Regular\ 2.ttf);
  }
#header, nav {    
    font-family: "mumbai";
    font-size: 75px;
    background-color: #960000;
}
body {    
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#instructions{
    background-color: #960000;
}
.card-header {
    background-color: #005896;
}
#recent {
    height: 315px;
    overflow-y: scroll;
}
#try-again {
    display: none;
}
thead {
    font-weight: bold;
}
.btn {
    background-color: #960000;
}
@media screen and (max-width: 768px) {
    #header, nav {
      font-size: 50px;
    }
  }
  @media screen and (max-width: 640px) {
    #header, nav {
        font-size: 50px;
    }
}